@import '../../assets/styles/colors';
@import '../../assets/styles/dims';
@import '../../assets/styles/mixins';

.cell--container {
  min-width: $default-cell-min-width;
  height: $default-cell-height;
  background-color: $default-cell-background-color;
  border: $default-cell-border-width solid $default-cell-border-color;
  cursor: pointer;
  padding: 0 0.5rem;
  overflow: hidden;
}

%cellText {
  font-size: $default-cell-font-size;
  font-family: sans-serif;
}

.cell--input {
  @extend %cellText;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

.cell--display {
  @extend %cellText;
  display: flex;
  height: 100%;
  align-items: center;
}

.cell--selected {
  border: $default-cell-border-width solid $selected-cell-border-color;
  box-shadow: 0 1px 5px rgba(black, 0.5);
  z-index: 1;
}

.cell--highlighted {
  border: $default-cell-border-width solid $highlighted-cell-border-color;
  z-index: 2;
}
