@import '../../assets/styles/colors';
@import '../../assets/styles/dims';
@import '../../assets/styles/mixins';

.cell--container {
  min-width: $default-cell-min-width;
  height: $default-cell-height;
  background-color: $default-cell-background-color;
  border: $default-cell-border-width solid $default-cell-border-color;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0 0.5rem;
  overflow: hidden;
  user-select: none;
}

%cellText {
  font-size: $default-cell-font-size;
  font-family: sans-serif;
}

.cell--input {
  @extend %cellText;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

.cell--display {
  @extend %cellText;
  display: flex;
  height: 100%;
  align-items: center;
}

.cell--selected {
  background-color: $selected-cell-background-color;
  z-index: 1;
}

.cell--highlighted {
  outline: $highlighted-cell-border-width solid $highlighted-cell-border-color;
  z-index: 2;
}
.cell--editing {
  @include set-box-shadow;
  z-index: 2;
}
