@import '../../assets/styles/colors';
@import '../../assets/styles/dims';

.row-index--cell {
  max-width: $default-cell-min-width;
  min-width: auto;
  background-color: $alternate-cell-background-color;
  padding: 0;
  border-left: $default-cell-border-width solid $default-cell-border-color;
  .cell--display {
    justify-content: center;
  }
}
