@import '../../assets/styles/colors';
@import '../../assets/styles/dims';

.column-head--cell {
  background-color: $column-head-background-color;

  .cell--display {
    justify-content: center;
  }

  &.cell--container {
    border-color: $column-head-border-color;
  }
}
