@import '../../assets/styles/colors';
@import '../../assets/styles/dims';

.column-head--cell {
  background-color: $alternate-cell-background-color;
  border-top: $default-cell-border-width solid $default-cell-border-color;

  .cell--display {
    justify-content: center;
  }
}

.cell--selected {
  border-top: $default-cell-border-width solid $selected-cell-border-color;
}

.cell--highlighted {
  border-top: $default-cell-border-width solid $highlighted-cell-border-color;
}

.column-head--cell:first-child {
  max-width: $default-cell-min-width;
  min-width: auto;
  border-left: $default-cell-border-width solid $default-cell-border-color;
}
